<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>laporOOM | pelaporan anonymous</title>
    <meta name="description" content="laporin orang tanpa ketauan">
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/assets/pico.classless.min.css" />
  </head>
  <body>
    <main>
      <nav>
        <ul></ul>
        <ul>
          <li><img src="/assets/laporoom.png" alt="laporOOM" /></li>
        </ul>
        <ul></ul>
      </nav>

      <%- body %>
    </main>
  </body>
</html>
