<h2>all report</h2>
<table role="grid">
  <thead>
    <tr>
      <th>#</th>
      <th>submited at</th>
    </tr>
  </thead>
  <tbody>
    <% for(let { id, date } of data.values() || []) {%>
      <tr>
        <th><a href="/x/<%= id %>"><%= id %></a></th>
        <td><%= date %></td>
      </tr>
    <% } %>
  </tbody>
</table>

<%- include('footer') %>