<form action="" method="post" autocomplete="off">
  <label for="subject">
    Subject
    <input
      type="text"
      id="subject"
      name="subject"
      placeholder="topik laporan"
      required
    />
  </label>

  <label for="subject">
    Content ​<textarea
      id="content"
      name="content"
      rows="10"
      cols="70"
      placeholder="isi laporannya ..."
      required
    ></textarea>
  </label>

  <fieldset>
    <label for="terms">
      <input type="checkbox" id="terms" name="terms" required />
      Apa yang saya laporkan adalah hal yang sesungguhnya
    </label>
  </fieldset>

  <input type="submit" value="Laporkan" />
</form>